# Source data is based on this ADVFN site

https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports

https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports&istart_date=0

In [1]:
import os
import sys
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from io import StringIO

In [2]:
class ADVFN:
    
    urlbase = 'https://uk.advfn.com/p.php?pid=financials'
    fundamental_type = ['INDICATORS', 'INCOME STATEMENT', 'INCOME STATEMENT (YEAR-TO-DATE)',
                        'BALANCE SHEET', 'ASSETS', 'EQUITY & LIABILITIES', 'CASH-FLOW STATEMENT', 
                        'OPERATING ACTIVITIES', 'INVESTING ACTIVITIES', 'FINANCING ACTIVITIES',
                        'NET CASH FLOW', 'RATIOS CALCULATIONS', 'PROFIT MARGINS', 'NORMALIZED RATIOS',
                        'SOLVENCY RATIOS', 'EFFICIENCY RATIOS', 'ACTIVITY RATIOS', 'LIQUIDITY RATIOS',
                        'CAPITAL STRUCTURE RATIOS', 'PROFITABILITY', 'AGAINST THE INDUSTRY RATIOS']

    def __init__(self):
        pass
    
    def _get_format_url(self, symbol, start_idx):
        url = self.urlbase + '&symbol={symbol}&btn=quarterly_reports'.format(symbol=symbol)
        url += '&istart_date={start_idx}'.format(start_idx=start_idx)
        return url
    
    def _get_soup_table(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.findAll('table')
        # TODO: figure out better way than index
        soup_data_table = tables[7].find('table')  
        return soup_data_table        
    
    def _get_format_data_df(self, soup_data_table):
        df = pd.read_html(StringIO(str(soup_data_table)))[0]
        is_empty = df[1].isnull() & df[2].isnull() & df[3].isnull() & df[4].isnull() & df[5].isnull()
        empty_df = df[is_empty].copy()
        df = df[~is_empty].copy()
        empty_df = empty_df[empty_df[0].isin(self.fundamental_type)].copy().reset_index()
        quarters = df[df[0] == 'quarter end date'].values[0]
        quarters[0] = 'fundamental'
        df.columns = quarters
        df['category'] = None
        for idx in df.index:
            category = empty_df[empty_df['index'] < idx].tail(1)[0].values[0]
            df.loc[idx, 'category'] = category
        df = pd.melt(df, id_vars=['category', 'fundamental'], value_vars=quarters[1:])
        df.columns = ['category', 'fundamental', 'quarter', 'val']
        return df[~df['quarter'].isnull()]
    
    def get_stock_fundamentals(self, symbol, start_idx=0):
        stock_data = pd.DataFrame()
        url = self._get_format_url(symbol, start_idx)
        table = self._get_soup_table(url)
        if table:
            stock_data = self._get_format_data_df(table)
            df = self.get_stock_fundamentals(symbol, start_idx+1)
            stock_data = stock_data.append(df, ignore_index=True).drop_duplicates()
        return stock_data

In [3]:
stocks = ADVFN()

In [13]:
aapl = stocks.get_stock_fundamentals('COKE')
aapl.shape

(26230, 4)

In [14]:
aapl[(aapl['category'] == 'PROFITABILITY') & (aapl['fundamental'] == 'Return on Stock Equity (ROE)')].head(100)

            category                   fundamental  quarter     val
252    PROFITABILITY  Return on Stock Equity (ROE)  1994/03    56.0
527    PROFITABILITY  Return on Stock Equity (ROE)  1994/06    50.3
802    PROFITABILITY  Return on Stock Equity (ROE)  1994/09    44.0
1077   PROFITABILITY  Return on Stock Equity (ROE)  1994/12    41.5
1352   PROFITABILITY  Return on Stock Equity (ROE)  1995/03    43.5
2727   PROFITABILITY  Return on Stock Equity (ROE)  1995/06    40.7
3002   PROFITABILITY  Return on Stock Equity (ROE)  1995/09    37.6
3277   PROFITABILITY  Return on Stock Equity (ROE)  1995/12    39.7
3552   PROFITABILITY  Return on Stock Equity (ROE)  1996/03    38.3
3827   PROFITABILITY  Return on Stock Equity (ROE)  1996/06    35.3
4102   PROFITABILITY  Return on Stock Equity (ROE)  1996/09    36.1
4377   PROFITABILITY  Return on Stock Equity (ROE)  1996/12    72.6
4652   PROFITABILITY  Return on Stock Equity (ROE)  1997/03  5633.3
4927   PROFITABILITY  Return on Stock Equity (ROE)  1997/06   226.0
5202   PROFITABILITY  Return on Stock Equity (ROE)  1997/09   139.5
5477   PROFITABILITY  Return on Stock Equity (ROE)  1997/12   164.5
5752   PROFITABILITY  Return on Stock Equity (ROE)  1998/03   268.1
6027   PROFITABILITY  Return on Stock Equity (ROE)  1998/06   107.5
6302   PROFITABILITY  Return on Stock Equity (ROE)  1998/09    78.7
6577   PROFITABILITY  Return on Stock Equity (ROE)  1998/12    94.3
6852   PROFITABILITY  Return on Stock Equity (ROE)  1999/03   140.2
7127   PROFITABILITY  Return on Stock Equity (ROE)  1999/06    27.5
7402   PROFITABILITY  Return on Stock Equity (ROE)  1999/09    21.9
7677   PROFITABILITY  Return on Stock Equity (ROE)  1999/12    10.0
7952   PROFITABILITY  Return on Stock Equity (ROE)  2000/03    20.4
8227   PROFITABILITY  Return on Stock Equity (ROE)  2000/06    18.2
8502   PROFITABILITY  Return on Stock Equity (ROE)  2000/09    17.7
8777   PROFITABILITY  Return on Stock Equity (ROE)  2000/12    22.2
9052   PROFITABILITY  Return on Stock Equity (ROE)  2001/03    27.3
9327   PROFITABILITY  Return on Stock Equity (ROE)  2001/06    19.5
...              ...                           ...      ...     ...
19502  PROFITABILITY  Return on Stock Equity (ROE)  2010/09    26.1
19777  PROFITABILITY  Return on Stock Equity (ROE)  2010/12    30.9
20052  PROFITABILITY  Return on Stock Equity (ROE)  2011/03    30.7
20327  PROFITABILITY  Return on Stock Equity (ROE)  2011/06    27.7
20602  PROFITABILITY  Return on Stock Equity (ROE)  2011/09    22.1
20877  PROFITABILITY  Return on Stock Equity (ROE)  2011/12    24.4
21152  PROFITABILITY  Return on Stock Equity (ROE)  2012/03    22.6
21427  PROFITABILITY  Return on Stock Equity (ROE)  2012/06    21.1
21702  PROFITABILITY  Return on Stock Equity (ROE)  2012/09    20.1
21977  PROFITABILITY  Return on Stock Equity (ROE)  2012/12    23.3
22252  PROFITABILITY  Return on Stock Equity (ROE)  2013/03    22.9
22552  PROFITABILITY  Return on Stock Equity (ROE)  2013/06     0.1
22832  PROFITABILITY  Return on Stock Equity (ROE)  2013/09     0.1
23112  PROFITABILITY  Return on Stock Equity (ROE)  2013/12     0.0
23392  PROFITABILITY  Return on Stock Equity (ROE)  2014/03     0.0
23670  PROFITABILITY  Return on Stock Equity (ROE)  2014/06     0.1
23931  PROFITABILITY  Return on Stock Equity (ROE)  2014/09     0.1
24192  PROFITABILITY  Return on Stock Equity (ROE)  2014/12     0.0
24453  PROFITABILITY  Return on Stock Equity (ROE)  2015/03     0.0
24714  PROFITABILITY  Return on Stock Equity (ROE)  2015/06     0.0
24975  PROFITABILITY  Return on Stock Equity (ROE)  2015/09     0.0
25236  PROFITABILITY  Return on Stock Equity (ROE)  2015/12     0.3
25496  PROFITABILITY  Return on Stock Equity (ROE)  2016/03     0.3
25758  PROFITABILITY  Return on Stock Equity (ROE)  2016/06     0.0
26019  PROFITABILITY  Return on Stock Equity (ROE)  2016/09     0.0
26280  PROFITABILITY  Return on Stock Equity (ROE)  2016/12     0.2
26541  PROFITABILITY  Return on Stock Equity (ROE)  2017/03     0.2
26802  PROFITABILITY  Return on Stock Equity (ROE)  2017/06     0.0
27063  PROFITABILITY  Return on Stock Equity (ROE)  2017/09     0.0
27324  PROFITABILITY  Return on Stock Equity (ROE)  2017/12     0.3

[96 rows x 4 columns]

In [ ]:
class StockList:
    #http://www.advfn.com/nasdaq/nasdaq.asp?companies=B
    #http://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A
    def __init__(self):
        pass





---------------------




### In progress Testing building out the class

----------------------

In [90]:
response = requests.get('https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports&istart_date=0')
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.findAll('table')
soup_data_table = tables[7].find('table')
html_data_list = pd.read_html(StringIO(str(soup_data_table)))
datadf = html_data_list[0]
datadf

In [65]:
datadf.head()

,0,1,2,3,4,5
0,INDICATORS,NaN,NaN,NaN,NaN,NaN
1,quarter end date,1994/03,1994/06,1994/09,1994/12,1995/03
2,date preliminary data loaded,0000-00-00,0000-00-00,0000-00-00,0000-00-00,1995-04-24
3,earnings period indicator,S,N,F,Q,S
4,quarterly indicator,2,3,4,1,2

In [77]:
df = datadf.copy()

In [123]:
is_empty = df[1].isnull() & df[2].isnull() & df[3].isnull() & df[4].isnull() & df[5].isnull()
empty_df = df[is_empty]

In [124]:
empty_df = empty_df.reset_index()

In [125]:
empty_df

    index                                0    1    2    3    4    5
0       0                       INDICATORS  NaN  NaN  NaN  NaN  NaN
1       6               template indicator  NaN  NaN  NaN  NaN  NaN
2      10                 INCOME STATEMENT  NaN  NaN  NaN  NaN  NaN
3      54                                *  NaN  NaN  NaN  NaN  NaN
4      64                                *  NaN  NaN  NaN  NaN  NaN
5      75  INCOME STATEMENT (YEAR-TO-DATE)  NaN  NaN  NaN  NaN  NaN
6      80                    BALANCE SHEET  NaN  NaN  NaN  NaN  NaN
7      81                           ASSETS  NaN  NaN  NaN  NaN  NaN
8     115       inventory valuation method  NaN  NaN  NaN  NaN  NaN
9     116             EQUITY & LIABILITIES  NaN  NaN  NaN  NaN  NaN
10    146                                *  NaN  NaN  NaN  NaN  NaN
11    151                                *  NaN  NaN  NaN  NaN  NaN
12    159              number of employees  NaN  NaN  NaN  NaN  NaN
13    160    number of part-time employees  NaN  NaN  NaN  NaN  NaN
14    161              CASH-FLOW STATEMENT  NaN  NaN  NaN  NaN  NaN
15    162             OPERATING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
16    181             INVESTING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
17    192             FINANCING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
18    201                    NET CASH FLOW  NaN  NaN  NaN  NaN  NaN
19    206                                *  NaN  NaN  NaN  NaN  NaN
20    209                     auditor name  NaN  NaN  NaN  NaN  NaN
21    210                   auditor report  NaN  NaN  NaN  NaN  NaN
22    211              RATIOS CALCULATIONS  NaN  NaN  NaN  NaN  NaN
23    212                   PROFIT MARGINS  NaN  NaN  NaN  NaN  NaN
24    224                NORMALIZED RATIOS  NaN  NaN  NaN  NaN  NaN
25    233                  SOLVENCY RATIOS  NaN  NaN  NaN  NaN  NaN
26    239                EFFICIENCY RATIOS  NaN  NaN  NaN  NaN  NaN
27    246                  ACTIVITY RATIOS  NaN  NaN  NaN  NaN  NaN
28    251                 LIQUIDITY RATIOS  NaN  NaN  NaN  NaN  NaN
29    263         CAPITAL STRUCTURE RATIOS  NaN  NaN  NaN  NaN  NaN
30    279                    PROFITABILITY  NaN  NaN  NaN  NaN  NaN
31    289      AGAINST THE INDUSTRY RATIOS  NaN  NaN  NaN  NaN  NaN