# Source data is based on this ADVFN site

https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports

https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports&istart_date=0

In [1]:
import os
import sys
import numpy as np
import pandas as pd
from pandas import DataFrame, to_datetime
import requests
from bs4 import BeautifulSoup
from io import StringIO

In [2]:
class ADVFN:
    """
    Class for interacting and extracting stock fundamental data.
    """
    urlbase = 'https://uk.advfn.com/p.php?pid=financials'
    fundamental_type = ['INDICATORS', 'INCOME STATEMENT', 'INCOME STATEMENT (YEAR-TO-DATE)',
                        'BALANCE SHEET', 'ASSETS', 'EQUITY & LIABILITIES', 'CASH-FLOW STATEMENT',
                        'OPERATING ACTIVITIES', 'INVESTING ACTIVITIES', 'FINANCING ACTIVITIES',
                        'NET CASH FLOW', 'RATIOS CALCULATIONS', 'PROFIT MARGINS', 'NORMALIZED RATIOS',
                        'SOLVENCY RATIOS', 'EFFICIENCY RATIOS', 'ACTIVITY RATIOS', 'LIQUIDITY RATIOS',
                        'CAPITAL STRUCTURE RATIOS', 'PROFITABILITY', 'AGAINST THE INDUSTRY RATIOS']

    def __init__(self):
        pass

    def _get_format_url(self, symbol, start_idx):
        url = self.urlbase + '&symbol={symbol}&btn=quarterly_reports'.format(symbol=symbol)
        url += '&istart_date={start_idx}'.format(start_idx=start_idx)
        return url

    def _get_soup_table(self, url):
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'lxml')
        tables = soup.findAll('table')
        # TODO: figure out better way than index
        soup_data_table = tables[7].find('table')
        return soup_data_table

    def _get_format_data_df(self, soup_data_table):
        df = pd.read_html(StringIO(str(soup_data_table)))[0]
        is_empty = df[1].isnull() & df[2].isnull() & df[3].isnull() & df[4].isnull() & df[5].isnull()
        empty_df = df[is_empty].copy()
        df = df[~is_empty].copy()
        empty_df = empty_df[empty_df[0].isin(self.fundamental_type)].copy().reset_index()
        quarters = df[df[0] == 'quarter end date'].values[0]
        quarters[0] = 'fundamental'
        df.columns = quarters
        df['category'] = None
        for idx in df.index:
            category = empty_df[empty_df['index'] < idx].tail(1)[0].values[0]
            df.loc[idx, 'category'] = category
        df = pd.melt(df, id_vars=['category', 'fundamental'], value_vars=quarters[1:])
        df.columns = ['category', 'fundamental', 'quarter', 'val']
        return df[~df['quarter'].isnull()]

    def get_stock_fundamentals(self, symbol, start_idx=0, last_df=DataFrame()):
        columns = ['quarter', 'symbol', 'category', 'fundamental', 'val']
        stock_data = pd.DataFrame(columns=columns)
        # check that the fundamentals exist
        url = self._get_format_url(symbol, start_idx)
        table = self._get_soup_table(url)
        # check if data was returned and not the same as previously processed records to continue
        if table: 
            stock_data = self._get_format_data_df(table)
            if not stock_data.equals(last_df):
                # Get the other fundamentals
                df = self.get_stock_fundamentals(symbol, start_idx+1, stock_data)
                stock_data = stock_data.append(df, ignore_index=True).drop_duplicates()
        stock_data['symbol'] = symbol
        return stock_data[columns]

In [3]:
stocks = ADVFN()

In [4]:
fundamentals = stocks.get_stock_fundamentals('CAH')
fundamentals.shape

IndexError: list index out of range

In [18]:
df.equals(df2)

True

In [ ]:
coke = stocks.get_stock_fundamentals('COKE')
coke.shape

In [25]:
coke[(coke['category'] == 'PROFITABILITY') & (coke['fundamental'] == 'Return on Stock Equity (ROE)')].head(100)

       quarter symbol       category                   fundamental     val
252    1994/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    56.0
527    1994/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    50.3
802    1994/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    44.0
1077   1994/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    41.5
1352   1995/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    43.5
1627   1994/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    50.3
1902   1994/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    44.0
2177   1994/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    41.5
2452   1995/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    43.5
2727   1995/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    40.7
4102   1995/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    37.6
4377   1995/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    39.7
4652   1996/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    38.3
4927   1996/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    35.3
5202   1996/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    36.1
5477   1996/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    72.6
5752   1997/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)  5633.3
6027   1997/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)   226.0
6302   1997/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)   139.5
6577   1997/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)   164.5
6852   1998/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)   268.1
7127   1998/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)   107.5
7402   1998/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    78.7
7677   1998/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    94.3
7952   1999/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)   140.2
8227   1999/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    27.5
8502   1999/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    21.9
8777   1999/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    10.0
9052   2000/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    20.4
9327   2000/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    18.2
...        ...    ...            ...                           ...     ...
20602  2010/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    26.1
20877  2010/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    30.9
21152  2011/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    30.7
21427  2011/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    27.7
21702  2011/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    22.1
21977  2011/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    24.4
22252  2012/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    22.6
22527  2012/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)    21.1
22802  2012/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)    20.1
23077  2012/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)    23.3
23352  2013/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)    22.9
23652  2013/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.1
23932  2013/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.1
24212  2013/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
24492  2014/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
24770  2014/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.1
25031  2014/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.1
25292  2014/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
25553  2015/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
25814  2015/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
26075  2015/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
26336  2015/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.3
26596  2016/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.3
26858  2016/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
27119  2016/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
27380  2016/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.2
27641  2017/03   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.2
27902  2017/06   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
28163  2017/09   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.0
28424  2017/12   COKE  PROFITABILITY  Return on Stock Equity (ROE)     0.3

[100 rows x 5 columns]

In [ ]:
class StockList:
    #http://www.advfn.com/nasdaq/nasdaq.asp?companies=B
    #http://www.advfn.com/nyse/newyorkstockexchange.asp?companies=A
    def __init__(self):
        pass





---------------------




### In progress Testing building out the class

----------------------

In [90]:
response = requests.get('https://uk.advfn.com/p.php?pid=financials&symbol=AAPL&btn=quarterly_reports&istart_date=0')
soup = BeautifulSoup(response.content, 'lxml')
tables = soup.findAll('table')
soup_data_table = tables[7].find('table')
html_data_list = pd.read_html(StringIO(str(soup_data_table)))
datadf = html_data_list[0]
datadf

In [65]:
datadf.head()

,0,1,2,3,4,5
0,INDICATORS,NaN,NaN,NaN,NaN,NaN
1,quarter end date,1994/03,1994/06,1994/09,1994/12,1995/03
2,date preliminary data loaded,0000-00-00,0000-00-00,0000-00-00,0000-00-00,1995-04-24
3,earnings period indicator,S,N,F,Q,S
4,quarterly indicator,2,3,4,1,2

In [77]:
df = datadf.copy()

In [123]:
is_empty = df[1].isnull() & df[2].isnull() & df[3].isnull() & df[4].isnull() & df[5].isnull()
empty_df = df[is_empty]

In [124]:
empty_df = empty_df.reset_index()

In [125]:
empty_df

    index                                0    1    2    3    4    5
0       0                       INDICATORS  NaN  NaN  NaN  NaN  NaN
1       6               template indicator  NaN  NaN  NaN  NaN  NaN
2      10                 INCOME STATEMENT  NaN  NaN  NaN  NaN  NaN
3      54                                *  NaN  NaN  NaN  NaN  NaN
4      64                                *  NaN  NaN  NaN  NaN  NaN
5      75  INCOME STATEMENT (YEAR-TO-DATE)  NaN  NaN  NaN  NaN  NaN
6      80                    BALANCE SHEET  NaN  NaN  NaN  NaN  NaN
7      81                           ASSETS  NaN  NaN  NaN  NaN  NaN
8     115       inventory valuation method  NaN  NaN  NaN  NaN  NaN
9     116             EQUITY & LIABILITIES  NaN  NaN  NaN  NaN  NaN
10    146                                *  NaN  NaN  NaN  NaN  NaN
11    151                                *  NaN  NaN  NaN  NaN  NaN
12    159              number of employees  NaN  NaN  NaN  NaN  NaN
13    160    number of part-time employees  NaN  NaN  NaN  NaN  NaN
14    161              CASH-FLOW STATEMENT  NaN  NaN  NaN  NaN  NaN
15    162             OPERATING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
16    181             INVESTING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
17    192             FINANCING ACTIVITIES  NaN  NaN  NaN  NaN  NaN
18    201                    NET CASH FLOW  NaN  NaN  NaN  NaN  NaN
19    206                                *  NaN  NaN  NaN  NaN  NaN
20    209                     auditor name  NaN  NaN  NaN  NaN  NaN
21    210                   auditor report  NaN  NaN  NaN  NaN  NaN
22    211              RATIOS CALCULATIONS  NaN  NaN  NaN  NaN  NaN
23    212                   PROFIT MARGINS  NaN  NaN  NaN  NaN  NaN
24    224                NORMALIZED RATIOS  NaN  NaN  NaN  NaN  NaN
25    233                  SOLVENCY RATIOS  NaN  NaN  NaN  NaN  NaN
26    239                EFFICIENCY RATIOS  NaN  NaN  NaN  NaN  NaN
27    246                  ACTIVITY RATIOS  NaN  NaN  NaN  NaN  NaN
28    251                 LIQUIDITY RATIOS  NaN  NaN  NaN  NaN  NaN
29    263         CAPITAL STRUCTURE RATIOS  NaN  NaN  NaN  NaN  NaN
30    279                    PROFITABILITY  NaN  NaN  NaN  NaN  NaN
31    289      AGAINST THE INDUSTRY RATIOS  NaN  NaN  NaN  NaN  NaN