In [7]:
import pandas as pd
from pandas_datareader import data, wb
import numpy as np
import sklearn

for pd_option in ['display.max_rows', 'display.max_colwidth', 'display.max_columns']:
    pd.set_option(pd_option, 500)  # http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html

from IPython.core.pylabtools import figsize
from matplotlib import pyplot as plt
%matplotlib inline
figsize(11, 9)

import requests
from bs4 import BeautifulSoup

In [16]:
# get a list of the S&P500 stocks from wikipedia
sp_500_list = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
response = requests.get(sp_500_list)
wiki_page = response.content
wiki_page_tables = pd.read_html(wiki_page)
sp_500 = wiki_page_tables[0] # there is another table in there too
sp_500.columns = sp_500.ix[0]
sp_500.drop(0, inplace=True)
sp_500.head()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
1,MMM,3M Company,reports,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",NaN,0000066740
2,ABT,Abbott Laboratories,reports,Health Care,Health Care Equipment & Services,"North Chicago, Illinois",1964-03-31,0000001800
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152
4,ACN,Accenture plc,reports,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373
5,ATVI,Activision Blizzard,reports,Information Technology,Home Entertainment Software,"Santa Monica, California",2015-08-31,0000718877

In [17]:
sp_500.shape

(504, 8)

In [18]:
sp_500.tail()

,Ticker symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Address of Headquarters,Date first added,CIK
500,YHOO,Yahoo Inc.,reports,Information Technology,Internet Software & Services,"Sunnyvale, California",NaN,0001011006
501,YUM,Yum! Brands Inc,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061
502,ZBH,Zimmer Biomet Holdings,reports,Health Care,Health Care Equipment & Services,"Warsaw, Indiana",NaN,0001136869
503,ZION,Zions Bancorp,reports,Financials,Banks,"Salt Lake City, Utah",NaN,0000109380
504,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Florham Park, New Jersey",2013-06-21,0001555280

In [23]:
start = pd.to_datetime('2009-01-01')
end = pd.to_datetime('2016-10-01')
f = data.DataReader("F", 'yahoo', start, end)
f.head()

            Open  High   Low  Close    Volume  Adj Close
Date
2009-01-02  2.30  2.49  2.28   2.46  42052300   2.072571
2009-01-05  2.42  2.64  2.31   2.58  73031000   2.173672
2009-01-06  2.64  2.85  2.63   2.76  58945900   2.325323
2009-01-07  2.72  2.82  2.62   2.69  43931200   2.266348
2009-01-08  2.62  2.70  2.50   2.69  51174500   2.266348

In [25]:
# options data ?
# aapl = data.Options('aapl', 'yahoo')
# apple_data = aapl.get_all_data()
# apple_data.head()

In [26]:
gdp = data.DataReader("GDP", "fred", start, end)
gdp.head()

                GDP
DATE
2009-01-01  14383.9
2009-04-01  14340.4
2009-07-01  14384.1
2009-10-01  14566.5
2010-01-01  14681.1

In [27]:
ip = data.DataReader("5_Industry_Portfolios", "famafrench")
ip[0].head()

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2010-01  -1.95  -4.02  -7.59   0.00  -1.67
2010-02   3.90   3.23   4.34   0.37   3.38
2010-03   6.35   4.74   6.86   3.61   8.42
2010-04   1.52   3.31   2.45  -2.23   2.16
2010-05  -5.70  -8.88  -7.27  -8.01  -8.83