In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web

# some sample code on stock fundamentals
# https://simply-python.com/2015/02/13/getting-historical-financial-statistics-of-stock-using-python/
# financials.morningstart.com is a great resource
# http://financials.morningstar.com/ratios/r.html?t=AAPL&region=arg&culture=en-US

In [3]:
import requests
key_ratios_url = 'http://financials.morningstar.com/finan/ajax/exportKR2CSV.html?&callback=?&t=XBUE:AAPL&region=arg&culture=en-US&cur=&order=asc'
response = requests.get(key_ratios_url)
print response
content = response.content
# financials_url = 'http://financials.morningstar.com/ajax/ReportProcess4CSV.html?&t=XBUE:AAPL&region=arg&culture=en-US&cur=&reportType=is&period=12&dataType=A&order=asc&columnYear=5&curYearPart=1st5year&rounding=3&view=raw&r=835563&denominatorView=raw&number=3'

<Response [200]>

In [4]:
content

'???Growth Profitability and Financial Ratios for Apple Inc ADR\nFinancials\n,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,TTM\nRevenue USD Mil,"24,578","37,491","42,905","65,225","108,249","156,508","170,910","182,795","233,715","215,639","215,639"\nGross Margin %,33.2,35.2,40.1,39.4,40.5,43.9,37.6,38.6,40.1,39.1,39.1\nOperating Income USD Mil,"4,407","8,327","11,740","18,385","33,790","55,241","48,999","52,503","71,230","60,024","60,024"\nOperating Margin %,17.9,22.2,27.4,28.2,31.2,35.3,28.7,28.7,30.5,27.8,27.8\nNet Income USD Mil,"3,495","6,119","8,235","14,013","25,922","41,733","37,037","39,510","53,394","45,687","45,687"\nEarnings Per Share USD,0.09,0.16,0.22,0.36,0.66,1.05,0.95,1.08,1.54,1.39,1.39\nDividends USD,,,,,,0.04,0.16,0.16,0.05,,\nPayout Ratio % *,,,,,,,16.4,15.5,6.5,,\nShares Mil,"37,343","37,882","38,087","38,830","39,331","39,697","39,122","36,729","34,751","32,995","32,995"\nBook Value Per Share * USD,,,,,8.29,,19.09,29.16,35.41,60.71,64.33\nOperating Cash Flow USD Mil,"5,470","9,596","10,159","18,595","37,529","50,856","53,666","59,713","81,266","65,824","65,824"\nCap Spending USD Mil,-986,"-1,199","-1,213","-2,121","-7,452","-9,402","-9,076","-9,813","-11,488","-13,548","-13,548"\nFree Cash Flow USD Mil,"4,484","8,397","8,946","16,474","30,077","41,454","44,590","49,900","69,778","52,276","52,276"\nFree Cash Flow Per Share * USD,,,,,3.23,,6.30,10.94,18.59,22.97,\nWorking Capital USD Mil,"12,657","20,598","20,049","20,956","17,018","19,111","29,628","5,083","8,768","27,863",\n\nKey Ratios -> Profitability\nMargins % of Sales,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,TTM\nRevenue,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00\nCOGS,66.83,64.80,59.86,60.62,59.52,56.13,62.38,61.41,59.94,60.92,60.92\nGross Margin,33.17,35.20,40.14,39.38,40.48,43.87,37.62,38.59,40.06,39.08,39.08\nSG&A,12.06,10.03,9.67,8.46,7.02,6.42,6.34,6.56,6.13,6.58,6.58\nR&D,3.18,2.96,3.11,2.73,2.24,2.16,2.62,3.30,3.45,4.66,4.66\nOther,,,,,,,,,,,\nOperating Margin,17.93,22.21,27.36,28.19,31.22,35.30,28.67,28.72,30.48,27.84,27.84\nNet Int Inc & Other,2.44,1.65,0.76,0.24,0.38,0.33,0.68,0.54,0.55,0.63,0.63\nEBT Margin,20.37,23.86,28.12,28.42,31.60,35.63,29.35,29.26,31.03,28.46,28.46\n\nProfitability,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,TTM\nTax Rate %,30.19,29.89,31.75,24.42,24.22,25.16,26.15,26.13,26.37,25.56,25.56\nNet Margin %,14.56,14.88,19.19,21.48,23.95,26.67,21.67,21.61,22.85,21.19,21.19\nAsset Turnover (Average),1.13,1.00,0.99,1.06,1.13,1.07,0.89,0.83,0.89,0.70,0.70\nReturn on Assets %,16.43,14.89,18.92,22.84,27.07,28.54,19.34,18.01,20.45,14.93,14.93\nFinancial Leverage (Average),1.74,1.88,1.50,1.57,1.52,1.49,1.68,2.08,2.43,2.51,2.51\nReturn on Equity %,28.52,27.19,31.27,35.28,41.67,42.84,30.64,33.61,46.25,36.90,36.90\nReturn on Invested Capital %,24.84,27.19,30.22,34.69,41.04,42.01,26.08,26.20,31.32,21.95,21.95\nInterest Coverage,,,,,,,369.79,140.28,99.93,43.15,43.15\n\nKey Ratios -> Growth\n,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,Latest Qtr\nRevenue %\nYear over Year,24.29,35.30,32.10,52.02,65.96,44.58,9.20,6.95,27.86,-7.73,-9.03\n3-Year Average,42.60,32.60,30.48,39.54,49.37,53.94,37.86,19.08,14.30,8.06,\n5-Year Average,33.12,39.23,38.97,36.17,41.16,45.49,39.39,33.63,29.08,14.78,\n10-Year Average,12.99,18.52,21.47,23.37,35.05,39.17,39.31,36.27,32.58,27.29,\nOperating Income %\nYear over Year,79.74,42.32,87.09,56.60,83.79,63.48,-11.30,7.15,35.67,-15.73,-19.57\n3-Year Average,138.25,56.09,68.52,60.96,75.28,67.57,38.65,15.82,8.84,7.00,\n5-Year Average,203.93,,104.78,61.96,68.97,65.80,50.84,34.93,31.11,12.18,\n10-Year Average,,37.44,41.73,42.78,,124.48,,66.23,45.72,37.68,\nNet Income %\nYear over Year,75.77,38.27,70.36,70.16,84.99,60.99,-11.25,6.68,35.14,-14.43,\n3-Year Average,133.11,53.56,60.57,58.85,75.03,71.77,38.26,15.08,8.56,7.25,\n5-Year Average,121.89,133.93,97.22,60.03,67.11,64.20,50.27,36.84,30.67,12.00,\n10-Year Average,,31.65,29.92,33.39,,90.88,87.49,64.28,44.61,36.81,\nEPS %\nYear over Year,73.13,36.39,69.40,66.85,82.71,59.50,-9.97,13.58,42.95,-9.87,-14.21\n3-Year Average,122.87,50.90,58.74,56.80,72.85,69.41,37.92,17.71,13.49,13.53,\n5-Year Average,112.83,124.02,91.24,57.56,64.90,62.22,49.29,37.82,33.62,16.01,\n10-Year Average,,26.15,25.97,30.11,,85.81,82.88,62.35,45.10,38.31,\n\nKey Ratios -> Cash Flow\nCash Flow Ratios,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,TTM\nOperating Cash Flow Growth % YOY,146.40,75.43,5.87,83.04,101.82,35.51,5.53,11.27,36.09,-19.00,\nFree Cash Flow Growth % YOY,186.88,87.27,6.54,84.15,82.57,37.83,7.57,11.91,39.84,-25.08,\nCap Ex as a % of Sales,4.01,3.20,2.83,3.25,6.88,6.01,5.31,5.37,4.92,6.28,6.28\nFree Cash Flow/Sales %,18.24,22.40,20.85,25.26,27.79,26.49,26.09,27.30,29.86,24.24,24.24\nFree Cash Flow/Net Income,1.28,1.37,1.09,1.18,1.16,0.99,1.20,1.26,1.31,1.14,1.14\n\nKey Ratios -> Financial Health\nBalance Sheet Items (in %),2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,Latest Qtr\nCash & Short-Term Investments,60.70,61.89,49.40,34.08,22.30,16.54,19.59,10.82,14.32,20.88,20.88\nAccounts Receivable,15.90,11.89,10.65,13.20,10.07,10.62,9.97,11.74,10.45,9.11,9.11\nInventory,1.37,1.29,0.96,1.40,0.67,0.45,0.85,0.91,0.81,0.66,0.66\nOther Current Assets,8.66,12.60,5.43,6.76,5.62,5.14,4.99,6.09,5.19,2.57,2.57\nTotal Current Assets,86.62,87.66,66.43,55.44,38.66,32.75,35.40,29.56,30.77,33.22,33.22\nNet PP&E,7.23,6.20,6.22,6.34,6.68,8.78,8.02,8.90,7.74,8.40,8.40\nIntangibles,1.66,1.24,1.18,1.44,3.81,3.04,2.78,3.78,3.10,2.68,2.68\nOther Long-Term Assets,4.49,4.89,26.17,36.78,50.85,55.43,53.80,57.77,58.39,55.70,55.70\nTotal Assets,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00\nAccounts Payable,19.61,13.95,11.79,15.98,12.57,12.03,10.81,13.02,12.22,11.59,11.59\nShort-Term Debt,,,,,,,,2.72,3.79,3.61,3.61\nTaxes Payable,,,0.91,0.28,0.98,0.87,0.58,0.52,,,\nAccrued Liabilities,4.97,9.40,7.20,6.45,6.97,4.76,2.52,3.32,8.67,6.85,6.85\nOther Short-Term Liabilities,12.11,12.26,4.32,4.85,3.52,4.23,7.19,7.78,3.08,2.51,2.51\nTotal Current Liabilities,36.69,35.61,24.22,27.56,24.04,21.89,21.09,27.37,27.75,24.56,24.56\nLong-Term Debt,,,,,,,8.19,12.50,18.41,23.45,23.45\nOther Long-Term Liabilities,5.98,11.25,9.17,8.87,10.13,10.97,11.03,12.02,12.76,12.12,12.12\nTotal Liabilities,42.67,46.86,33.39,36.43,34.16,32.86,40.31,51.89,58.91,60.13,60.13\nTotal Stockholders\' Equity,57.33,53.14,66.61,63.57,65.84,67.14,59.69,48.11,41.09,39.87,39.87\nTotal Liabilities & Equity,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00\n\nLiquidity/Financial Health,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,Latest Qtr\nCurrent Ratio,2.36,2.46,2.74,2.01,1.61,1.50,1.68,1.08,1.11,1.35,1.35\nQuick Ratio,2.09,2.07,2.48,1.72,1.35,1.24,1.40,0.82,0.89,1.22,1.22\nFinancial Leverage,1.74,1.88,1.50,1.57,1.52,1.49,1.68,2.08,2.43,2.51,2.51\nDebt/Equity,,,,,,,0.14,0.26,0.45,0.59,0.59\n\nKey Ratios -> Efficiency Ratios\nEfficiency,2007-09,2008-09,2009-09,2010-09,2011-09,2012-09,2013-09,2014-09,2015-09,2016-09,TTM\nDays Sales Outstanding,21.96,22.81,24.60,24.82,18.34,19.01,25.66,30.51,26.79,27.59,27.59\nDays Inventory,7.09,7.31,6.85,6.95,5.17,3.26,4.37,6.30,5.81,6.22,6.22\nPayables Period,96.25,89.74,79.02,81.30,75.48,74.38,74.54,85.45,85.57,101.11,101.11\nCash Conversion Cycle,-67.19,-59.61,-47.58,-49.53,-51.96,-52.13,-44.50,-48.64,-52.97,-67.29,-67.29\nReceivables Turnover,16.62,16.00,14.84,14.71,19.90,19.20,14.22,11.96,13.62,13.23,13.23\nInventory Turnover,51.47,49.90,53.28,52.51,70.53,112.12,83.45,57.94,62.82,58.64,58.64\nFixed Assets Turnover,15.42,15.15,15.86,16.89,17.26,13.48,10.67,9.82,10.85,8.71,8.71\nAsset Turnover,1.13,1.00,0.99,1.06,1.13,1.07,0.89,0.83,0.89,0.70,0.70\n'

In [ ]:
# wiki invest EBIT http://www.wikinvest.com/stock/JOHNSON_&_JOHNSON_(JNJ)/Data/EBITDA/2000/Q4

In [9]:
# http://data.okfn.org/data/core/s-and-p-500-companies/r/constituents-financials.csv
sp500 = pd.read_csv('http://data.okfn.org/data/core/s-and-p-500-companies/r/constituents-financials.csv')
print sp500.shape

(504, 15)

In [10]:
sp500.head(2)

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Company,Industrials,177.12,2.53,22.77,7.78,19.34,134.0,177.79,107.43,8.57,3.52,9.04,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,41.89,2.55,25.79,1.62,14.10,36.0,51.74,61.54,4.40,2.98,2.93,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [12]:
f = web.DataReader("F", 'yahoo', pd.to_datetime('1990-01-01'), pd.to_datetime('2016-12-31'))

In [13]:
f

                 Open       High        Low      Close    Volume  Adj Close
Date
1990-01-02  43.750039  45.250039  43.500039  45.250039   6241800   3.422794
1990-01-03  45.500039  45.875041  45.250039  45.500039   8031900   3.441704
1990-01-04  45.625041  45.750038  45.125041  45.500039   3932500   3.441704
1990-01-05  45.500039  45.750038  44.875041  44.875041   3820400   3.394428
1990-01-08  44.750039  45.000039  44.500039  44.875041   3360800   3.394428
1990-01-09  44.875041  45.125041  44.125036  44.125036   5279800   3.337696
1990-01-10  44.250039  44.500039  43.875036  44.500039   2950300   3.366062
1990-01-11  44.750039  45.375041  44.750039  45.000039   2944900   3.403883
1990-01-12  44.500039  44.625041  43.750039  43.750039   3214000   3.309331
1990-01-15  43.750039  43.875036  43.125039  43.250039   4010600   3.271510
1990-01-16  43.000037  45.125041  42.875037  45.000039   3935600   3.403883
1990-01-17  45.000039  45.125041  44.000039  44.250039   2822000   3.347152
1990-01-18  44.000039  44.500039  43.750039  44.250039   4986100   3.347152
1990-01-19  44.750039  45.000039  44.500039  44.625041   4071600   3.375518
1990-01-22  44.500039  44.750039  43.500039  43.500039   3896100   3.290420
1990-01-23  43.750039  44.250039  43.500039  44.000039   6626400   3.328241
1990-01-24  42.500037  43.250039  42.000037  42.250037   5953900   3.251289
1990-01-25  42.375037  42.875037  41.750037  41.750037   4843600   3.212812
1990-01-26  41.875037  42.500037  41.500037  42.375037   3616700   3.260908
1990-01-29  42.875037  43.125039  41.500037  42.625037   4246300   3.280146
1990-01-30  42.750037  42.875037  41.750037  42.500037   2742700   3.270527
1990-01-31  42.750037  43.375039  42.750037  43.125039   5610900   3.318623
1990-02-01  43.000037  43.125039  42.375037  42.750037   3036400   3.289765
1990-02-02  42.250037  43.250039  42.250037  43.125039   4489600   3.318623
1990-02-05  42.750037  43.500039  42.625037  43.500039   2058100   3.347481
1990-02-06  43.250039  43.375039  42.875037  42.875037   2474700   3.299385
1990-02-07  42.625037  45.000039  42.500037  44.875041   4685900   3.453292
1990-02-08  45.000039  45.000039  43.625039  44.000039   4285300   3.385958
1990-02-09  43.875036  44.000039  43.375039  44.000039   2420500   3.385958
1990-02-12  44.000039  44.625041  43.625039  44.000039   3030900   3.385958
...               ...        ...        ...        ...       ...        ...
2016-11-17  11.900000  11.960000  11.780000  11.870000  38502500  11.870000
2016-11-18  11.870000  11.900000  11.730000  11.760000  30662000  11.760000
2016-11-21  11.770000  11.900000  11.770000  11.790000  19508600  11.790000
2016-11-22  11.760000  11.910000  11.730000  11.890000  24274700  11.890000
2016-11-23  11.900000  12.000000  11.850000  11.900000  22414000  11.900000
2016-11-25  11.950000  12.060000  11.930000  12.040000  11439600  12.040000
2016-11-28  12.020000  12.050000  11.890000  11.920000  24407200  11.920000
2016-11-29  11.930000  12.000000  11.870000  11.920000  23690800  11.920000
2016-11-30  11.970000  12.140000  11.920000  11.960000  47646200  11.960000
2016-12-01  12.230000  12.800000  12.180000  12.430000  95143600  12.430000
2016-12-02  12.580000  12.580000  12.150000  12.240000  38601600  12.240000
2016-12-05  12.310000  12.500000  12.290000  12.440000  36118300  12.440000
2016-12-06  12.400000  12.590000  12.370000  12.560000  23668100  12.560000
2016-12-07  12.590000  13.150000  12.540000  13.060000  58440500  13.060000
2016-12-08  13.070000  13.150000  12.970000  13.030000  41451800  13.030000
2016-12-09  13.000000  13.200000  12.910000  13.170000  45233200  13.170000
2016-12-12  13.080000  13.100000  12.810000  12.820000  39544700  12.820000
2016-12-13  12.840000  12.880000  12.750000  12.770000  38816300  12.770000
2016-12-14  12.650000  12.790000  12.500000  12.530000  42243500  12.530000
2016-12-15  12.540000  12.720000  12.520000  12.580000  23672100  12.580000
2016-12-16  12.660000  12.700000  12.560000  12.630000  28099200  12.630000
2016-12-19  12.590000  12.800000  12.590000  12.660000  22780900  12.660000
2016-12-20  12.700000  12.820000  12.680000  12.780000  17752900  12.780000
2016-12-21  12.730000  12.770000  12.640000  12.640000  18056600  12.640000
2016-12-22  12.630000  12.640000  12.400000  12.400000  27556900  12.400000
2016-12-23  12.430000  12.460000  12.360000  12.460000  15578200  12.460000
2016-12-27  12.430000  12.510000  12.360000  12.390000  19403000  12.390000
2016-12-28  12.370000  12.450000  12.220000  12.250000  26678100  12.250000
2016-12-29  12.250000  12.310000  12.220000  12.230000  19714400  12.230000
2016-12-30  12.240000  12.280000  12.080000  12.130000  27288100  12.130000

[6805 rows x 6 columns]